.toggle-icon1 {
	-fx-pref-width: 52px;
	-fx-background-radius: 50px;
	-fx-pref-height: 52px;
	-fx-background-color:transparent ;
}

.button-settings-mini {
	-fx-pref-width: 16px;
	-fx-background-radius: 50px;
	-fx-pref-height: 16px;
	-fx-background-color:orange;
}

.button-default {
	-fx-pref-width: 46px;
	-fx-pref-height: 46px;
	-fx-background-radius: 100px;
	-fx-background-color: #E91E63;
}

.button-default-clock {
	-fx-width: 46px;
	-fx-height: 46px;
	-fx-pref-width: 46px;
	-fx-pref-height: 46px;
	-fx-background-radius: 100px;
	-fx-background-color: #E91E63;
}

.date-time-select {
	default-color: #E91E63;
}

.dialog-header {
    -fx-font-size: 24pt;
}

.dialog-clock-edit-caption {
    -fx-font-size: 8pt;
}

.bg-container {
    -fx-background-color: #5C6BC0;
}

.action-container {
    -fx-background-color: #E91E63;
}

.basic-input {
    -fx-background-color: #5C6BC0;
    -fx-text-fill: #c5c5c5;
}

.mini-label {
    -fx-text-fill: gray;
    -fx-font-size: 6pt;
}

/* Radio buttons */

.jfx-radio-button .radio {
	-fx-stroke-width: 2.0px;
	-fx-fill: transparent;
}

.jfx-radio-button .dot {
	-fx-fill: #0F9D58;
}

.custom-jfx-radio-button{
	-fx-font-size: 16.0px;
}

.custom-jfx-radio-button .radio {
	-fx-stroke-width: 2.0px;
	-fx-fill: transparent;
}

.custom-jfx-radio-button-blue {
	-fx-text-fill:  #5264AE;
	-fx-selected-color: #5264AE;
	-fx-unselected-color: #212121;
}

.jfx-progress-bar {
    -fx-background: #5264AE;
	-fx-stroke: #E91E63;
	-fx-stroke-width: 20.0;
}

/*******************************************************************************
*                                                                              *
* Tree Table View                                                              *
*                                                                              *
*******************************************************************************/

.tree-table-view{
	-fx-tree-table-color: rgba(82, 100, 174, 0.4);
	-fx-tree-table-rippler-color : rgba(82, 100, 174, 0.6);
}
 .tree-table-view:focused .tree-table-row-cell:selected {
	-fx-background-color: -fx-tree-table-color  ;
	-fx-table-cell-border-color: -fx-tree-table-color;
	-fx-text-fill: BLACK;
}

 .tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
	-fx-text-fill: BLACK;
}

.tree-table-view .jfx-rippler {
	-fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
	-fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
	-fx-border-width : 0 1 0 1;
	-fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
	-fx-text-fill : #949494;
	-fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{
	-fx-background-color : #949494;
}

.tree-table-view .column-header:last-visible {
	-fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
	-fx-border-width : 0 0.0 1 0;
	-fx-border-color:#F3F3F3;
}

.tree-table-view .tree-table-cell{
	-fx-border-width:0 0 0 0;
	-fx-padding : 16 0 16 0 ;
	-fx-alignment: top-center ;
}

.tree-table-view .column-overlay{
	-fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
	-fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
  -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  /*....*/
  -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(82, 100, 174);
}
.tree-table-row-cell .jfx-text-field:error {
	-fx-focus-color: #D34336;
	-fx-unfocus-color: #D34336;
}

.tree-table-row-cell .jfx-text-field .errorLabel{
	-fx-text-fill : #D34336;
	-fx-font-size: 0.75em;
}
.tree-table-row-cell .jfx-text-field .errorIcon{
	-fx-text-fill : #D34336;
	-fx-font-size: 1.0em;
}

.tree-table-row-group{
	-fx-background-color:rgba(230,230,230);
}

.tree-table-view .menu-item:focused{
	-fx-background-color:-fx-tree-table-color;

}
.tree-table-view .menu-item .label{
	-fx-padding: 5 0 5 0;
}


/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical>.track-background, .scroll-bar:horizontal>.track-background{
	-fx-background-color: #F1F1F1;
	-fx-background-insets: 0.0;
}

.scroll-bar:vertical>.thumb, .scroll-bar:horizontal>.thumb {
	-fx-background-color: #BCBCBC;
	-fx-background-insets: 0.0;
	-fx-background-radius: 1.0;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button{
	-fx-padding:5 2 5 2;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button,.scroll-bar:hover>.increment-button, .scroll-bar:hover>.decrement-button{
	-fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow, .scroll-bar>.decrement-button>.decrement-arrow{
	-fx-background-color: rgb(150.0, 150.0, 150.0);
}
.scroll-bar>.increment-button>.increment-arrow{
	-fx-shape: "M298 426h428l-214 214z";
}
.scroll-bar>.decrement-button>.decrement-arrow{
	-fx-shape: "M298 598l214-214 214 214h-428z";
}

