<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="FileAllLogs" fileName="logs/out.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="FileAllErrors" fileName="logs/errors.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="FileAllJira" fileName="logs/jira.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="FileAllDb" fileName="logs/db.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="FileAllErrors"/>
        </Root>
        <Logger name="lt.markmerkk" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAllLogs"/>
        </Logger>
        <Logger name="JIRA" level="TRACE" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAllJira"/>
        </Logger>
        <Logger name="DB" level="TRACE" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAllDb"/>
        </Logger>
    </Loggers>
</Configuration>