[Desktop Entry]
Encoding=UTF-8
Version=4.0
Name=WT4
GenericName=WT4
Exec=/opt/WT4/WT4
Terminal=false
Icon=/opt/WT4/WT4.png
Type=Application
Categories=Application;Network;Security;
Comment=Work tracker for JIRA
